@media only screen and (min-width: 768px) and (max-width: 960px) {
    /* Fix positioning bug with Promo Boxes*/
    .promo-item {
      width:225px;
    }
}

@media only screen and (max-width: 767px) {
    .float-right,
    .post-entry img.float-right,
    .post-img img.float-right {
        max-width: 275px !important;
    }
}

@media only screen and (max-width: 479px) {
    .float-right,
    .post-entry img.float-right,
    .post-img img.float-right {
        padding: 0 !important;
        float: none !important;
    }
}

